* {padding:0; margin:0;}
#wrap #header #sitename {
	display: block;
	font: normal 28px Georgia, "Times New Roman", Times, serif;
	padding-left: 45px;
	padding-top: 15px;
	color: #000000;
	width: 300px;
	float: left;
}
#wrap #header .intro {
	display: block;
	float: left;
	width: 500px;
	padding-right: 55px;
	padding-top: 20px;
	font: italic normal 18px Georgia, "Times New Roman", Times, serif;
	color: #005979;
}
#wrap #header #breadcrumb a {
	color: #CCCCCC;
	text-decoration: none;
}
#wrap #header #breadcrumb a:visited, #wrap #header #breadcrumb a:active {
	color: #CCCCCC;
	text-decoration: none;
}#wrap #header #breadcrumb a:hover {
	color: #fff;
	text-decoration: none;
}
#wrap #header #sitename .caption {
	font-size: 12px;
	display: block;
}
ul {list-style:none}
a {
	color: #069;
}

html {
	background: #14222b url(images/bodybg.jpg); /* background: #14222b url(images/bgtop2.jpg);*/
}
.clear {clear:both;}
body {background:url(images/bgtop.jpg) repeat-x; font:11px Verdana, Arial, Helvetica, sans-serif; color:#000000;} /* body {background:url(images/bgtop2.jpg) repeat-x; font:11px Verdana, Arial, Helvetica, sans-serif; color:#000;} */
#wrap {background:url(images/pagebg.jpg) repeat-y; width:953px; margin:auto;}
#header {background:url(images/header.jpg) no-repeat; height:210px;}
#content {
	background:url(images/pageheader.jpg) no-repeat top;
	padding-left: 35px;
	/*AQUI LE CAMBIE EL LADO DE LO DEL CUMPLEAÑOS*/
	padding-right: 50px;
	padding-top: 15px;
}
#footer{
	background:url(images/footer.jpg) no-repeat;
	height:30px;
	text-align: center;
	color: #000000; /*#9AACB8*/
	padding-top: 13px;
}
#wrap #footer a {
	color: #C7D9E5;
	text-decoration: none;
}
/*AQUI SE CAMBIA EL MENU PARA EL LADO IZQUIERDO*/
#left {width:670x; float:right;}
#left .post {
	width: 639px;
	margin-left: 6px;
	margin-bottom: 15px;
	background: url(images/postbg.jpg) repeat-y;
}
#left .post .post_h {
	background: url(images/postheader.jpg) no-repeat;
	height: 17px;
}
.post .post_b {
	background: url(images/postfooter.jpg) no-repeat;
	height: 30px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.post_b .permalink {
	display: block;
	float: left;
	background: url(images/readmore.jpg) no-repeat;
	height: 16px;
	padding-left: 20px;
	padding-top: 2px;
	margin-right: 5px;
	margin-left: 5px;
}
.post .postcontent {
	padding: 5px 25px;
}
.post .date {
	font-size: 10px;
	color: #999999;
	display: block;
	background: url(images/posticon.jpg) no-repeat;
	padding-left: 20px;
	height: 16px;
	padding-top: 4px;
}
.post  h2 {
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	color: #007993;
	display: block;
	margin-bottom: 18px;
	padding-top: 5px;
}
#hora {
	height:50px;
	padding-top: 0spx; /* 3px*/
	/*padding-left: 0px;*/
	padding-right: 10px;
}
#pagebottom {background:url(images/paginationbg.jpg) no-repeat; height:44px; clear:both;}
#topnav {
	height:40px;
	padding-top: 120px; /* 3px*/
	padding-left: 45px;
}
#breadcrumb {
	color: #000000;
	padding-right: 50px;
	padding-top: 18px;
}
#wrap #content #left #pagination {
	background: #9AACB8;
	margin-right: 15px;
	margin-left: 15px;
	padding: 8px;
	margin-bottom: 15px;
}
#pagination .alignleft {
	display: block;
	float: left;
	width: 200px;
}
#pagination .alignright {
	text-align: right;
	display: block;
	margin-left: 400px;
}
#topnav li {
	display: inline;
	text-transform: uppercase;
	font: bold 14px "Trebuchet MS", Arial, Halvetica, sans-serif;
}
#topnav a {
	display: block;
	height: 23px; width: 125px; float: left; margin:0 3px 0 3px; text-align:center; padding-top:15px; color:#000000; text-decoration:none;}
#topnav .active a {background:url(images/menuhover.png) no-repeat; color:#fff;}
#topnav a:hover {background:url(images/menunormal.png) no-repeat; color:#333;}

#wrap #content #sidebar { 	margin-right: 650px; }
#wrap #content #sidebar h3 {
	background: url(images/sidebarheading.jpg) no-repeat;
	display: block;
	width: 195px;
	height: 30px;
	color: #FFFFFF;
	padding-top: 6px;
	padding-right: 10px;
	padding-left: 10px;
	font: 16px "Trebuchet MS", Arial, Halvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: 8px;
}/********************************//***********************************//***********************************//***********************************/
#sidebar .cat-item {
	display: block;
	height: 24px;
	border:none!important; padding:0!important; 
}
#sidebar li {
	margin-left: 10px;
	margin-right: 10px;
}
#sidebar li {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #91B5CC;
}
#sidebar ul li a {
	text-decoration: none;
	color: #15222B;
}


.cat-item  a {
	display: block;
	height: 19px;
	padding-top: 5px;
	text-decoration: none;
	color: #15222B;
	border-bottom: 1px solid #91B5CC;
}
#sidebar ul {
	margin-bottom: 15px;
}



.post p {
	line-height: 18px;
	margin-bottom: 18px;
}
.post_b .category {
	display: block;
	float: left;
	background: url(images/category.jpg) no-repeat;
	height: 16px;
	padding-left: 20px;
	padding-top: 2px;
	margin-right: 5px;
	margin-left: 5px;
}
.post_b  a {
	color: #FFFFFF;
	text-decoration: none;
}

.post_b .comment {

	display: block;
	float: left;
	background: url(images/comment.jpg) no-repeat;
	height: 16px;
	padding-left: 24px;
	padding-top: 2px;
	margin-right: 5px;
	margin-left: 5px;
}
.post_b a:visited, .post_b a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.post_b a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
a:visited, active {
	color: #000033;
}
a:hover {
	color: #000000;
	text-decoration: none;
}
#pagination a {
	text-decoration: none;
}
#sidebar ul li a:visited, #sidebar ul li a:active {
	text-decoration: none;
	color: #15222B;
}
#sidebar ul li a:hover {

	text-decoration: none;
	color: #000000;
}
.cat-item a:visited .cat-item a:active {

	display: block;
	height: 19px;
	padding-top: 5px;
	text-decoration: none;
	color: #15222B;
	border-bottom: 1px solid #91B5CC;
}
.cat-item a:hover {
	display: block;
	height: 19px;
	padding-top: 5px;
	text-decoration: none;
	color: #000000;
	border-bottom: 1px solid #91B5CC;
	background: #DEE9EF;
}
#wrap #content #sidebar .searchform p {
	padding: 8px;
}
#wrap #content #sidebar .searchform .button {
	display: block;
	float: left;
}
#wrap #content #sidebar .searchform .textbox {
	display: block;
	border: 1px solid #15222B;
	float: left;
	width: 140px;
	margin-right: 3px;
	padding: 2px;
}
#wrap #footer a:visited {

	color: #C7D9E5;
}
#wrap #footer a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
img.alignleft {
	float: left;
	margin: 5px;
	padding: 5px;
	display: block;
	background: #C7D9E5;
	border: 1px solid #8E98A1;
}
img.alignright {
	float: right;
	margin: 5px;
	padding: 5px;
	display: block;
	background: #C7D9E5;
	border: 1px solid #8F9EA5;
}
#wrap #header #sitename a {
	text-decoration: none;
	color: #000;
}
blockquote {
	font: 14px Georgia, "Times New Roman", Times, serif;
	color: #006699;
	display: block;
	padding: 5px;
	border-top: 1px solid #C7D9E5;
	border-bottom: 1px solid #C7D9E5;
	margin-top: 10px;
	margin-bottom: 10px;
}
h1 a {
	text-decoration: none;
}
h2 a {
	text-decoration: none;
}

blockquote p {
	margin-bottom: 0!important;
}
.post ul, .post ol {
	margin-bottom: 15px;
}
.post ol {
	list-style: decimal outside;
	padding-left: 15px;
}
.post ol li {
	padding: 4px;
}

.post ul li {
	background: url(images/bullet.jpg) no-repeat 0px 8px;
	display: block;
	padding: 4px 4px 4px 15px;
}
#wrap #content #left .post .postcontent code {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	background: #C7D9E5 url(images/codebg.jpg) no-repeat right bottom;
	color: #000000;
	font: 20px "times new roman", Courier, monospace;
	white-space: pre;
}
#wrap #content #left #comments {
	width: 639px;
	margin-left: 6px;
}
#wrap #content #left #comments  ol {
	list-style: none;
}
#wrap #content #left #comments  ol li {
	display: block;
	padding: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #D4D0C8;
	background: #f4f4f4;
}
#wrap #content #left #comments  ol.odd {
	background: #fff!important;
}
h3 a {
	text-decoration: none;
}
h3 {
	font-size: 16px;
	margin-bottom: 15px;
}

#wrap #content #left #comments #commentop {
	background: url(images/commenttop.jpg) no-repeat;
	height: 64px;
}
#wrap #content #left #comments #commentcontent {
	background: url(images/commentbg.jpg) repeat-y;
	padding: 5px 15px;
}
#wrap #content #left #comments #commentbtm {
	background: url(images/commentbtm.jpg) no-repeat;
	height: 38px;
}
#wrap #content #left #comments .text {
	border: 1px solid #C7D9E5;
	margin-bottom: 15px;
	padding: 3px;
	display: block;
	width: 200px;
}
#wrap #content #left #comments #commentcontent form {
	padding-left: 45px;
}
#comment {
	border: 1px solid #C7D9E5;
	margin-bottom: 15px;
}

label{
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
	font-style: italic;
	color: #858585/*#B4B4B4 /*#FC679F */
}

fieldset{
	-moz-border-radius: 0px 0px 0px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}

/* tabs o pestaÃ±as en la pag informacion
 * Inicio*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not
        listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with
        its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
/* Fin*/

#salir {
background:none; color:#333;
}
/*menu acordeon*/
#menu{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 3px #888;
	-moz-box-shadow:1px 1px 3px #888;
}
#menu li{border-bottom:1px solid #FFF;}
#menu ul li, #menu li:last-child{ border:none }
#menu a{
	display:block;
	color:#FFF;
	text-decoration:none;
	font-family:'Helvetica', Arial, sans-serif;
	font-size:13px;
	padding:9px 9px;
	text-shadow:1px 1px 1px #325179;
}
#menu a:hover{
	color:#000000;
	-webkit-transition: color 0.2s linear;
}
#menu ul a{background-color:#0584AD;}
#menu ul a:hover{
	background-color: #FFF;
	border-left: 10px solid #0000FF; /*color border te link seleccionado */
	color:#0000E8;
	text-shadow:none;
	-webkit-transition: color, background-color 0.2s linear;
}
ul.menu{
	display:block;
	background-color:#01a4b7; //2961A9
	margin:0;
	padding:0;
	width:225px;
	list-style:none;
}
#menu ul{background-color:#6594D1; width:223px;}
#menu li ul { display:none; }
/* fin menu acordeon*/
